/* Created by kjjanak on 9.13.16 */

/*------ Body and Default Elements ------*/
body {
    background-color: white;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    line-height: 1.75;
    margin:0;
}
::-webkit-scrollbar {
    display: none;
}
input {
    color: #757575;
    border: 1px solid #dedede;
    height: 35px;
    width: calc(100% - 20px);
    padding: 0 10px;
}
a {
    color:#404847;
    text-decoration:none;
}
a:hover {
    color:dimgray;
    transition:all .1s ease-in-out;
}
a:visited {
    color: #404847;
}
.col1 {
    padding-right: 2em;
}

.btn {
    background-color: #717F7E;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px 10px 0 0;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-s {
    color: #ffffff;
    background-color: #717f7e;
    width: calc(50% - 10px);
    min-height: 50px;
    padding: 10px 15px;
    float: left;
    border: none;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.optbtn {
    line-height: calc(60px - 30px)!important;
    text-align: center;
    cursor: pointer;
}
.optbtn.menuButton {
    color: white;
    background-color: #404847;
    border: none;
    margin: 8px 0px;
}
.optbtn.menuButton:hover {
    background-color: #505050;
    transition: all .15s ease-in-out;
}

.smallbtn {
    background-color: #00897b;
    color: white;
    padding: 2px 12px;
    border: none;
    margin: 0;
}

.tdebug {
    border: 1px solid #ccc;
}

/*------ Reusable Body CSS ------*/
.floatLeft {
    float:left;
}
.floatRight {
    float:right;
}
.hideOverFlow {
    overflow:hidden;
}
.clearFix:after {
    content: "\0020";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.light {
    font-weight:300;
}
p {
    margin: .5em 0;
}
.white {
    margin:0;
    color:white;
}
.shadow {
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.padding {
    padding:20px;
}
.hide {
    display:none;
}

/*------ Navigation Header and Content ------*/
.navFixed {
    height:60px;
}
.navHeader {
    margin: 0;
    background-color: #404847;
    border: 0;
    color: #fff;
    min-width: 320px;
    height:60px;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    position: fixed;
}
.navTitle {
    margin: 0;
    line-height: 60px;
    float: left;
    font-size: 1.5em;
}
.navMenu {
    font-size: 1.5em;
    padding: 18px;
    cursor:pointer;
}
.main {
    padding: 20px;
}
.overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    opacity: 0;
    z-index:3;
    visibility: hidden;  
    transition: all .25s ease-in-out;
}
.overlay.active {
    opacity:1;
    visibility: visible;
}

/*------ Section and HTML Structure ------*/
.section {
    width: calc(50% - 2em);
    background-color: #404847;
    margin: 0 1em 20px 1em;
    float: left;
}
.sectionTitle {
    width: calc(100% - 40px);
    color: #f9f9f9;
    background-color: #404847;
    font-size: 17px;
    font-weight: 400;
    text-transform:uppercase;
    cursor:pointer;
    padding: 20px;
    margin: 0;
}
.sectionContent {
    display:block;
    min-height:245px;
    padding: 10px 20px 0 20px;
}
.subSection {
    width: calc(50% - 20px);
    padding: 0 10px;
    color:#b7b7b7;
    float: left;
}
.sectionWrapper {
    background-color:#495453
}
.results {
    padding: 0 20px 20px 20px;
}
.resultsText {
    padding: 6px 15px;
    margin-bottom: 10px;
    background-color: white;
    color:#5a5a5a;
    transition:all .1s ease-in-out;
}

/*------ Main Menu and Navigation ------*/
.mainMenu {
    height: 100%;
    width: 16%;
    min-width: 285px;
    top: 0;
    padding: 10px;
    background-color: white;
    position: fixed;
    transform: translate3d(-2000px,0,0);
    transition: all .25s ease-in-out;
    z-index: 3;
}
.mainMenu.active {
    transform:translate3d(0,0,0);
}
.menuTitle {
    margin: 0;
    padding: 10px 10px 20px 10px;
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 20px;
    font-weight: 400;
}
.mainMenuButton {
    padding: 6px 10px;
    margin: .5em 0 0 0;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s ease-in-out;
}
.mainMenuButton:hover {
    background-color: #495453;
    padding-left:25px;
    color: white;
}
.mainMenuButton.active {
    background-color: #404847;
    padding-left:25px;
    color: white;
}
.menuInfo {
    margin: 0;
    padding: 5px 15px 20px 15px;
    margin-bottom: 1em;
}
.menuFooter {
    margin: 0;
    padding: 25px 10px;
    position: absolute;
    bottom: 1em;
}
.defaultSettings {
    padding: 0 20px 20px 20px;
}

/* Mobile Responsive Media Queries */
@media (max-width: 769px) {
    .section {
        width:100%;
        margin:0 0 20px 0;
    }
    .sectionContent {
        min-height:0;
        padding:10px 20px 20px 20px;
    }
}